<!DOCTYPE html><!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]--><!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]--><!--[if gt IE 8]><!--><html class="no-js" data-scrapbook-source="" data-scrapbook-create="20240920033226801" data-scrapbook-title="Hackathon League"><!--<![endif]--><head>
    <!-- Google Tag Manager -->

<!-- End Google Tag Manager -->

      
  

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">


    <title>Hackathon League</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height">
    <meta name="csrf-param" content="authenticity_token">
<meta name="csrf-token" content="K6+zpwxvJD5z3kzgLUnoyYAvdNw5HK9PLoVSyxP+rA0O4xUhtG0svJVdWbgZdBI5svgOx/k72bNB4mlDKgkOpw==">

    <link rel="stylesheet" media="screen" href="legacy_assets-43baa94895f7cee6fadc5f643afec94776766c2e43a71eb8f7c3bb2ffcae8f3d.css">
    
    <link rel="stylesheet" media="all" href="register-2a64c84420fc124f346db71da3263d29c7b04b6670174106c5f22f1849832f22.css">
    
    <!--[if IE]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <link rel="stylesheet" media="screen" href="https://d2dmyh35ffsxbl.cloudfront.net/assets/legacy_assets_extensions/ie-455a6612750976ad390e421368031a0fb9279d34d6de8b61657c7dab34d03259.css" />
    <![endif]-->
  <link rel="shortcut icon" href="favicon.ico"></head>
  <body>
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="index_1.html" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->


    
  <!--googleoff: anchor-->

<!--[if lte IE 9 ]>
  <div id="unsupported_browser_version" class="persistent_message alert-box alert">
    <p>
      We've detected that you are using an unsupported browser.  Please
      <a href="http://browsehappy.com/">upgrade your browser</a>
      to Internet Explorer 10 or higher.
    </p>
  </div>
<![endif]-->


<!--googleon: anchor-->



  

  
<div class="registration-page page">


  
<div id="email-password-section" class="slide-section email-password-section" data-role="email-password-section" data-section-name="email-password">
  <div class="layout-container">
    <header>
  <h1 class="large">
    Join Hackathon League
  </h1>

  <h2>
    Find and participate in hackathons to improve your skills and win prizes
  </h2>
</header>

    <form data-single-submit="true" novalidate="novalidate" id="user-signup" class="simple_form " action="https://secure.devpost.com/users" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="87rOgO18CiaOOU532ZwKYxl0TDZYnCYc6eWHCeogaL/W9mgGVX4CpGi6Wy/tofCTK6M2LZi7UOCGgryB09fKFQ==">

        <div class="row col-12">
          <div class="action">
  <p>
    Already have an account?
    <a class="login-link" href="file:///C:/Users/galym/Downloads/Telegram%20Desktop/data%20(2)/data/Log%20in/index.html">Log in</a>
  </p>
</div>

          <div class="social-options">
  <a class="button login-button primary reimagine-button" data-role="github-login social-login" href="https://devpost.com/authentications/initiate/github?return_to=https%3A%2F%2Fdevpost.com%2F"><i class="fab fa-github"></i>Sign up with GitHub</a>

  <a class="button login-button google-blue reimagine-button" data-role="google_oauth2-login social-login" href="https://devpost.com/authentications/initiate/google_oauth2?return_to=https%3A%2F%2Fdevpost.com%2F"><i class="fab fa-google"></i>Sign up with Google</a>

</div>

          <div class="action">
  <p>
    or
    <a class="signup-email-link" href="#">sign up with email</a>
  </p>
</div>

        </div>

      

  
<div class="row col-12 email-form hidden">
  <div class="form">
    <div class="field first-name">
      <div class="input string optional user_first_name"><label class="string optional control-label white-label" for="user_first_name">First name</label><input data-required="true" data-maxlength="40" data-trigger="focusout" class="string optional" placeholder="First name" type="text" value="" name="user[first_name]" id="user_first_name"></div>
    </div>

    <div class="field last-name">
      <div class="input string optional user_last_name"><label class="string optional control-label white-label" for="user_last_name">Last name</label><input data-required="true" data-maxlength="40" data-trigger="focusout" class="string optional" placeholder="Last name" type="text" value="" name="user[last_name]" id="user_last_name"></div>
    </div>

    <div class="field email">
      <div class="input email optional user_email"><label class="email optional control-label white-label" for="user_email">Email</label><input data-type="email" data-required="true" data-trigger="focusout" class="string email optional" placeholder="Your email address" type="email" name="user[email]" id="user_email" value=""></div>
    </div>

    <div class="field password">
      <div class="input password optional user_password"><label class="password optional control-label white-label" for="user_password">Password</label><input data-minlength="8" data-required="true" class="password optional" placeholder="Choose a password" type="password" name="user[password]" id="user_password"></div>
    </div>

      <div class="field recaptcha">
    
<div data-sitekey="6LdnMw8TAAAAAAD94B4asrRQDs2dwSmWNcNuahzs" class="g-recaptcha "></div>
          <noscript>
            <div>
              <div style="width: 302px; height: 422px; position: relative;">
                <div style="width: 302px; height: 422px; position: absolute;">
                  <iframe src="index_2.html" name="ReCAPTCHA" style="width: 302px; height: 422px; border-style: none; border: 0; overflow: hidden;">
                  </iframe>
                </div>
              </div>
              <div style="width: 300px; height: 60px; border-style: none;
                bottom: 12px; left: 25px; margin: 0px; padding: 0px; right: 25px;
                background: #f9f9f9; border: 1px solid #c1c1c1; border-radius: 3px;">
                <textarea id="g-recaptcha-response" name="g-recaptcha-response" class="g-recaptcha-response" style="width: 250px; height: 40px; border: 1px solid #c1c1c1;
                  margin: 10px 25px; padding: 0px; resize: none;">                </textarea>
              </div>
            </div>
          </noscript>

  </div>


    <div class="field button-container">
      <button id="submit-form" class="button reimagine-button login-button">
        <i class="far fa-envelope"></i> Sign up with email
      </button>
    </div>
  </div>
</div>
<div class="field newsletter">
  
    <div class="input boolean optional user_user_setting_receive_newsletter"><input value="0" type="hidden" name="user[user_setting_attributes][receive_newsletter]"><label class="checkbox"><input data-newsletter="true" class="boolean optional" type="checkbox" value="1" checked="checked" name="user[user_setting_attributes][receive_newsletter]" id="user_user_setting_attributes_receive_newsletter">Subscribe me to Hackathon League's weekly newsletter (hackathons, community updates, and awesome projects)</label></div>
</div>


</form>  </div>
</div>

</div>






    

    



    <!--[if lt IE 9 ]>
    <script type="text/javascript">
      $(function onDocumentReady() {
        CP.IE.Notifications.setup();
      });
    </script>
    <![endif]-->

      


    

  

</body></html>