<!DOCTYPE html><!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]--><!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]--><!--[if gt IE 8]><!--><html class="no-js" data-scrapbook-source="" data-scrapbook-create="20240920033100452" data-scrapbook-title="Hackathon League"><!--<![endif]--><head>
    <!-- Google Tag Manager -->

<!-- End Google Tag Manager -->

      
  

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">


    <title>Hackathon League</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height">
    <meta name="csrf-param" content="authenticity_token">
<meta name="csrf-token" content="fYyh/TmsAGIxOMc0YYPadMKqrJM+BrNFwAGV4YO9uF1YwAd7ga4I4Ne70mxVviCE8H3WiP4hxbmvZq5pukoa9w==">

    <link rel="stylesheet" media="screen" href="legacy_assets-43baa94895f7cee6fadc5f643afec94776766c2e43a71eb8f7c3bb2ffcae8f3d.css">
    
    <link rel="stylesheet" media="all" href="register-2a64c84420fc124f346db71da3263d29c7b04b6670174106c5f22f1849832f22.css">
    
    <!--[if IE]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <link rel="stylesheet" media="screen" href="https://d2dmyh35ffsxbl.cloudfront.net/assets/legacy_assets_extensions/ie-455a6612750976ad390e421368031a0fb9279d34d6de8b61657c7dab34d03259.css" />
    <![endif]-->
  <link rel="shortcut icon" href="favicon.ico"></head>
  <body>
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="index_1.html" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->


    
  <!--googleoff: anchor-->

<!--[if lte IE 9 ]>
  <div id="unsupported_browser_version" class="persistent_message alert-box alert">
    <p>
      We've detected that you are using an unsupported browser.  Please
      <a href="http://browsehappy.com/">upgrade your browser</a>
      to Internet Explorer 10 or higher.
    </p>
  </div>
<![endif]-->


<!--googleon: anchor-->



  

  
<div class="registration-page page">
  <form class="simple_form clearfix user_new" id="user-login" novalidate="novalidate" action="file:///C:/Users/galym/Downloads/Telegram%20Desktop/data%20(2)/data/Log%20in/index.html" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="c3Liq+TU3pba5JKJRV7ILNJ05YOiKSjA35QwF+2D5TFWPkQtXNbWFDxnh9FxYzLc4KOfmGIOXjyw8wuf1HRHmw==">
    <div class="slide-section email-password-section" id="signin-users">

      <div class="layout-container accounts-form">
        <header>
          <h1 class="large">
            Log in to Hackathon League
          </h1>
        </header>


        <div class="row">
          <div class="social-options columns large-6">
            <a class="button login-button primary reimagine-button" tabindex="41" data-role="github-login social-login" href="https://devpost.com/authentications/login/github?return_to=https%3A%2F%2Fdevpost.com%2F"><i class="fab fa-github"></i>Log in with GitHub</a>

            <a class="button login-button google-blue reimagine-button" tabindex="42" data-role="google_oauth2-login social-login" href="https://devpost.com/authentications/login/google_oauth2?return_to=https%3A%2F%2Fdevpost.com%2F"><i class="fab fa-google"></i>Log in with Google</a>
          
          </div>

          <div class="form columns large-6">
            <span id="or">OR</span>
            <div class="field email">
              <div class="input email optional user_email"><label class="email optional control-label white-label" for="user_email">Email</label><input class="string email optional focus-me" value="" tabindex="1" data-type="email" data-required="true" data-trigger="focusout" placeholder="Email" type="email" name="user[email]" id="user_email"></div>
            </div>

            <div class="field password">
              <div class="input password optional user_password"><label class="password optional control-label white-label" for="user_password">Password</label><input tabindex="2" data-minlength="8" data-required="true" class="password optional" placeholder="Password" type="password" name="user[password]" id="user_password"></div>
                <p class="reset_password_container">
                  <a id="change_password" class="small-text" tabindex="8" href="https://secure.devpost.com/users/password/new">Forgot your password?</a>
                </p>
            </div>

            <input type="hidden" name="return_to" id="return_to" value="https://devpost.com/">

            <div class="field button-container">
              <button id="submit-form" class="button reimagine-button login-button" tabindex="4">
                <i class="far fa-envelope"></i> Log in with email
              </button>
            </div>
          </div>
        </div>

        <div class="action bottom-section">
          <p>
            New to Hackathon League? <a href="file:///C:/Users/galym/Downloads/Telegram%20Desktop/data%20(2)/data/Sign%20up/index.html">Sign up for an account</a>
          </p>
        </div>

      </div>
    </div>
</form></div>



    

    



    <!--[if lt IE 9 ]>
    <script type="text/javascript">
      $(function onDocumentReady() {
        CP.IE.Notifications.setup();
      });
    </script>
    <![endif]-->

    

    

  

</body></html>