<!DOCTYPE html><!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7 lte-ie9"> <![endif]--><!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8 lte-ie9"> <![endif]--><!--[if IE 8]>         <html class="no-js lt-ie9 lte-ie9"> <![endif]--><!--[if IE 9]>         <html class="no-js lte-ie9"> <![endif]--><!--[if gt IE 9]><!--><html lang="en" class="no-js" xmlns:fb="http://ogp.me/ns/fb#" xmlns:og="http://opengraphprotocol.org/schema/" itemscope="itemscope" itemtype="http://schema.org/WebPage" data-scrapbook-source="https://devpost.com/hackathons" data-scrapbook-create="20240919093920962" data-scrapbook-title="New &amp; upcoming hackathons · Devpost"><!--<![endif]--><head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# challengepost: http://ogp.me/ns/fb/challengepost#">
    <!-- Google Tag Manager -->

<!-- End Google Tag Manager -->

      
  

    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">


    <meta name="viewport" content="width=device-width">
    <title>New &amp; upcoming hackathons · Devpost</title>

    <meta name="description" content="Devpost powers hackathons and app contests around the world. Sign up to make new friends, explore new APIs / tech, and win prizes &amp; recognition.">
<meta property="fb:app_id" content="115745995110194">
<meta property="og:title" content="New &amp; upcoming hackathons · Devpost">
<meta property="og:description" content="Devpost powers hackathons and app contests around the world. Sign up to make new friends, explore new APIs / tech, and win prizes &amp; recognition.">
<meta property="og:type" content="challengepost:website">
<meta property="og:site_name" content="New &amp; upcoming hackathons · Devpost">
<meta property="og:image" content="https://d2dmyh35ffsxbl.cloudfront.net/assets/shared/devpost_social_icon_200_200-f56e5af715a1d95e0209bb37e899b7c18c6e7e3b933a3c1f52456a6e2ee85d09.jpg">
<meta property="og:url" content="https://devpost.com/hackathons">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@Devpost">
<meta name="twitter:title" content="New &amp; upcoming hackathons · Devpost">
<meta name="twitter:description" content="Devpost powers hackathons and app contests around the world. Sign up to make new friends, explore new APIs / tech, and win prizes &amp; recognition.">
<meta name="twitter:image" content="https://d2dmyh35ffsxbl.cloudfront.net/assets/shared/devpost_social_icon_200_200-f56e5af715a1d95e0209bb37e899b7c18c6e7e3b933a3c1f52456a6e2ee85d09.jpg">
<meta name="twitter:domain" content="devpost.com">
<meta name="twitter:url" content="https://devpost.com/hackathons">
<meta itemprop="name" content="New &amp; upcoming hackathons · Devpost">
<meta itemprop="description" content="Devpost powers hackathons and app contests around the world. Sign up to make new friends, explore new APIs / tech, and win prizes &amp; recognition.">
<meta itemprop="image" content="https://d2dmyh35ffsxbl.cloudfront.net/assets/shared/devpost_social_icon_200_200-f56e5af715a1d95e0209bb37e899b7c18c6e7e3b933a3c1f52456a6e2ee85d09.jpg">
    <meta name="csrf-param" content="authenticity_token">
<meta name="csrf-token" content="qtcJfKDJvttKVIx24bZebSjiIGkx+YfuG61VuS2HVJJqCAp+pmkpe9MANx3goGn7WmFAWLO2MlC/8K6cWV7ijw==">
      <link rel="alternate" type="application/rss+xml" title="Latest Challenges (RSS)" href="https://devpost.com/hackathons.rss">


    <!--[if gt IE 7]><!-->
    
    <link rel="stylesheet" media="screen" href="reimagine2-9f6db45ae28c3f142e5568add2b33f098323bf45106215f33013b431cdc2eb86.css">
    <link rel="stylesheet" media="screen" href="home_application-0c78d29bcd70511da344dde76d14e5dccf6273f3d519aed15d0d183a69c7792e.css">
    
    
    <!--<![endif]-->
  <link rel="shortcut icon" href="favicon.ico"></head>

  <body id="body-searches" class="foundation-grid action-show controller-searches engine-home">
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="index_1.html" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

    

    <!--googleoff: anchor-->

<!--[if lte IE 9 ]>
  <div id="unsupported_browser_version" class="persistent_message alert-box alert">
    <p>
      We've detected that you are using an unsupported browser.  Please
      <a href="http://browsehappy.com/">upgrade your browser</a>
      to Internet Explorer 10 or higher.
    </p>
  </div>
<![endif]-->


<!--googleon: anchor-->



    
    
    
  
<header id="global-nav">
  <div class="contain-to-grid hide-for-large-up">
  <nav class="top-bar" data-topbar="">
    <ul class="title-area top-bar-section">
      <li>
        <a class="toggle-topbar has-dropdown text-center" data-target-menu="world" id="hamburger" href="#">
          <i class="ss-icon ss-rows"></i>
</a>      </li>
      <li class="name">
        <span id="logo">
  <a href="https://devpost.com/">
    <img alt="Devpost" class="show-for-small" src="devpost-logo-mobile-f3aff76bfc0b6ada9bb4ddd773bfc534769ed793f962612804a1e84c305a5f94.svg">
    <img alt="Devpost" class="show-for-medium-up" src="devpost-logo-25d0005ec83e3b9ef6fce93235bb6d642d7c828f31758ebdb5b7ee87de7d45c3.svg">
</a></span>

      </li>
      <li id="mobile-search-form-container" class="search-form-container mobile hide">
        <form class="flex-row align-items-center search-form" action="https://devpost.com/hackathons" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="✓">
          <div class="search-field-wrapper flex-row align-items-stretch mx-4">
  <span class="align-items-center">
    <i class="fas fa-search search-icon"></i>
  </span>

  <input type="search" name="search" id="search" title="Search" placeholder="Search hackathons..." value="">

  <a href="#" class="align-items-center close-icon" data-toggle-mobile-search="">
    <i class="fas fa-times"></i>
  </a>
</div>

</form>      </li>

      
        <li class="right logged-out">
    <ul>
  <li>
    <a id="main-link" href="https://secure.devpost.com/users/login?ref=top-nav-login">
      Log in
</a>  </li>
  <li class="show-for-medium-up">
    <a id="signup-link" href="https://secure.devpost.com/users/register?ref_content=signup_global_nav&amp;ref_feature=signup&amp;ref_medium=button">
      <span class="inner-button">
        Sign up
      </span>
</a>  </li>
</ul>

  </li>

      <li class="search-expand-container mobile right">
        <a data-toggle-mobile-search=""><i class="fas fa-search"></i></a>
      </li>
    </ul>

    <section class="top-bar-section" data-top-nav-menu="user">
      
    </section>

    <section class="top-bar-section" data-top-nav-menu="world">
      <ul class="right">
  <li class="divider"></li>
<li class="mobile-product-menu panel-container">
  <a class="panel-product panel-product-content" href="https://info.devpost.com/product/public-hackathons">
    <img alt="Devpost" src="devpost-logo-mobile-f3aff76bfc0b6ada9bb4ddd773bfc534769ed793f962612804a1e84c305a5f94.svg">
    <p class="title bold">Devpost</p>
  </a>
  <div class="panel-content">
    <a href="">Hackathons</a>
    <a href="https://devpost.com/software">Projects</a>
    <a href="https://info.devpost.com/product/public-hackathons">Host a public hackathon</a>
  </div>
</li>
<li class="divider"></li>
<li class="mobile-product-menu panel-container">
  <a class="panel-product panel-product-content" href="https://info.devpost.com/product/devpost-for-teams">
    <img alt="Devpost for Teams" src="dft-logo-mobile-ab66dd5a4f4b2f045ad86d0e5f432dc85974c3d778b353d32213c24ca176484b.svg">
    <p class="title bold">Devpost for Teams</p>
  </a>
  <div class="panel-content">
    <a href="https://devpost.team/">Teams login</a>
    <a href="https://info.devpost.com/product/devpost-for-teams">Request a demo</a>
  </div>
</li>
<li class="divider"></li>
<li>
  <a class="main-link" data-role="discover" href="">
    Hackathons
</a></li>
<li class="divider"></li>
<li>
  <a class="main-link" data-role="projects" href="https://devpost.com/software">
    Projects
</a></li>
<li class="divider"></li>
<li>
  <a class="main-link" href="https://info.devpost.com/blog">Blog</a>
</li>
<li class="divider"></li>
<li>
  <a class="main-link" data-role="for-orgs" href="https://info.devpost.com/">
    Host a hackathon
</a></li>

</ul>

    </section>
  </nav>
</div>

  <div class="contain-to-grid hide-for-small hide-for-medium">
  <nav class="top-bar" data-topbar="">
    <ul class="title-area">
      <li class="name">
        <span id="logo">
  <a href="https://devpost.com/">
    <img alt="Devpost" class="show-for-small" src="devpost-logo-mobile-f3aff76bfc0b6ada9bb4ddd773bfc534769ed793f962612804a1e84c305a5f94.svg">
    <img alt="Devpost" class="show-for-medium-up" src="devpost-logo-25d0005ec83e3b9ef6fce93235bb6d642d7c828f31758ebdb5b7ee87de7d45c3.svg">
</a></span>

      </li>
    </ul>

    <section class="top-bar-section">
      <ul class="left">
  <li class="divider"></li>
<li class="has-dropdown">
  <a class="main-link" href="#">Product</a>

  <ul class="dropdown float-left">
    <li id="floating-menu-wrapper">
      <div class="floating-menu">
        <div class="panel-container">
          <a class="panel-product panel-product-content" href="https://info.devpost.com/product/public-hackathons">
            <img alt="Devpost" src="devpost-logo-mobile-f3aff76bfc0b6ada9bb4ddd773bfc534769ed793f962612804a1e84c305a5f94.svg">
            <div>
              <p class="title bold">Devpost</p>
              <p class="subtitle">Grow your developer ecosystem and promote your platform.</p>
            </div>
          </a>
          <div class="panel-content">
            <a href="">Hackathons</a>
            <a href="https://devpost.com/software">Projects</a>
            <a href="https://info.devpost.com/product/public-hackathons">Host a public hackathon</a>
          </div>
        </div>

        <div class="panel-container">
          <a class="panel-product panel-product-content" href="https://info.devpost.com/product/devpost-for-teams">
            <img alt="Devpost for Teams" src="dft-logo-mobile-ab66dd5a4f4b2f045ad86d0e5f432dc85974c3d778b353d32213c24ca176484b.svg">
            <div>
              <p class="title bold">Devpost for Teams</p>
              <p class="subtitle">Drive innovation, collaboration, and retention within your organization.</p>
            </div>
          </a>
          <div class="panel-content">
            <a href="https://devpost.team/">Teams login</a>
            <a href="https://info.devpost.com/product/devpost-for-teams">Request a demo</a>
          </div>
        </div>
      </div>
    </li>
  </ul>
</li>
<li class="divider"></li>
<li>
  <a class="main-link" data-role="discover" href="">
    Hackathons
</a></li>
<li class="divider"></li>
<li>
  <a class="main-link" data-role="projects" href="https://devpost.com/software">
    Projects
</a></li>
<li class="divider"></li>
<li>
  <a class="main-link" href="https://info.devpost.com/blog">Blog</a>
</li>

</ul>


      <div class="right">
        <ul>
          <li>
            <a class="main-link" data-role="for-orgs" href="https://info.devpost.com/">Host a hackathon</a>
          </li>

          <li class="search-expand-container desktop main-link">
            <a data-toggle-desktop-search=""><i class="fas fa-search"></i></a>
          </li>

          <li id="desktop-search-form-container" class="search-form-container hide">
            <form class="flex-row align-items-center search-form" action="https://devpost.com/hackathons" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="✓">
              <div class="search-field-wrapper flex-row align-items-stretch mx-4">
  <span class="align-items-center">
    <i class="fas fa-search search-icon"></i>
  </span>

  <input type="search" name="search" id="search" title="Search" placeholder="Search hackathons..." value="">

  <a href="#" class="align-items-center close-icon" data-toggle-desktop-search="">
    <i class="fas fa-times"></i>
  </a>
</div>

</form>          </li>
        </ul>

          <ul>
  <li>
    <a id="main-link" href="https://secure.devpost.com/users/login?ref=top-nav-login">
      Log in
</a>  </li>
  <li class="show-for-medium-up">
    <a id="signup-link" href="https://secure.devpost.com/users/register?ref_content=signup_global_nav&amp;ref_feature=signup&amp;ref_medium=button">
      <span class="inner-button">
        Sign up
      </span>
</a>  </li>
</ul>


      </div>
    </section>
  </nav>
</div>

</header>





    <section id="container" class="">
      
      
  <link rel="stylesheet" media="screen" href="hackathon_search-0d88148c.css">


<header class="page-header">
  <div class="row">
    <div class="columns">
      <h1 class="text-center">
        Join the world's best online and in-person hackathons
      </h1>
    </div>
  </div>
</header>

<div class="content-section is-paddingless" id="hackathon-search">
</div>



      
    </section>

    
  <footer id="devpost-footer">
  <div class="row body">
    <div class="small-6 large-3 columns with-bottom-margin">
      <nav>
        <h4>Devpost</h4>
        <ul>
          <li><a href="https://info.devpost.com/about">About</a></li>
          <li><a href="https://info.devpost.com/careers">Careers</a></li>
          <li><a href="https://info.devpost.com/contact">Contact</a></li>
          <li><a href="https://help.devpost.com/">Help</a></li>
        </ul>
      </nav>
    </div>

    <div class="small-6 large-3 columns with-bottom-margin">
      <nav>
        <h4>Hackathons</h4>
        <ul>
          <li><a href="">Browse hackathons</a></li>
          <li><a href="https://devpost.com/software">Explore projects</a></li>
          <li><a href="https://info.devpost.com/">Host a hackathon</a></li>
          <li><a href="https://info.devpost.com/guides">Hackathon guides</a></li>
        </ul>
      </nav>
    </div>

    <div class="small-6 large-3 columns">
      <nav>
        <h4>Portfolio</h4>
        <ul>
          <li><a href="https://devpost.com/portfolio/redirect?page=projects">Your projects</a></li>
          <li><a href="https://devpost.com/portfolio/redirect?page=hackathons">Your hackathons</a></li>
          <li><a href="https://devpost.com/settings">Settings</a></li>
        </ul>
      </nav>
    </div>

    <div class="small-6 large-3 columns">
      <nav>
        <h4>Connect</h4>
        <ul class="social-links">
          <li>
            <a href="https://twitter.com/devpost">
              <div class="icon">
                <i class="fab fa-twitter"></i>
              </div>

              <span>
                Twitter
              </span>
            </a>
          </li>
          <li>
            <a href="https://discord.com/invite/HP4BhW3hnp">
              <div class="icon">
                <i class="fab fa-discord"></i>
              </div>

              <span>
                Discord
              </span>
            </a>
          </li>
          <li>
            <a href="https://www.facebook.com/devposthacks" target="_blank">
              <div class="icon">
                <i class="fab fa-facebook-f"></i>
              </div>
              <span>
                Facebook
              </span>
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/company/devpost/" target="_blank">
              <div class="icon">
                <i class="fab fa-linkedin-in"></i>
              </div>
              <span>
                LinkedIn
              </span>
            </a>
          </li>
        </ul>
      </nav>
    </div>

  </div>

  <div class="legal-bar-container">
    <nav class="row">
      <div class="columns">
        <div class="legal-bar">
          <div class="copyright-notice">© 2024 Devpost, Inc. All rights reserved.</div>

          <ul>
            <li><a href="https://info.devpost.com/legal/community-guidelines">Community guidelines</a></li>
            <li><a href="https://info.devpost.com/legal/security">Security</a></li>
            <li><a href="https://info.devpost.com/legal/california-consumer-privacy-act">CA notice</a></li>
            <li><a href="https://info.devpost.com/legal/privacy-policy">Privacy policy</a></li>
            <li><a href="https://info.devpost.com/legal/terms-of-service">Terms of service</a>
          </li></ul>
        </div>
      </div>
    </nav>
  </div>

</footer>


    
    








  

  





<!--[if lt IE 9 ]>
  <script type="text/javascript">
    $(function onDocumentReady() {
      CP.IE.Notifications.setup();
    });
  </script>
<![endif]-->








    


</body></html>